@{
    ViewBag.Title = "About Chatter";
}
<h2>@ViewBag.Title</h2>

<p>Chatter is a social media app that allows users to post content and share it with the world! Our mission is to connect people, near and far. </p>
